$light-gray: #eeeff1;
$dark-gray: #535b62;
$light-red: #ff5942;
$white: #ffffff;
$pale-white: #dde0e4;
$pale-black: #2f363f;
$blue: #4ab7ff;
$off-white: #f9fafc;
$gray: #afb2b6;
$light-hv-gray: #e6f5ff;
$light-md-gray: #81878c;
$black: #000;
